@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-secondary: #dadada;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-template-rows: 100vh;

  font-family: "Inter";
}

.dashboard {
  background-color: #242424;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  color: rgb(216, 216, 216);
  font-size: 36px;
  font-weight: 600;

  margin-top: 40px;
  margin-bottom: 40px;
}

.health-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 40px;
}

.soldier-health-overview {
  height: 150px;
  width: 500px;

  padding: 0 40px;

  border: 2px solid white;
  border-radius: 8px;

  position: relative;
}

.soldier-health-overview.critical::after {
  content: "";
  background-image: url("./assets/alert.svg");
  color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.soldier-health-overview.active {
  order: -1;
  transform: scale(1.05);
  background-color: rgba(102, 102, 102, 0.1);
}

.soldier-health-overview.critical {
  order: -1;
  transform: scale(1.05);
  background-color: rgba(255, 0, 0, 0.1);
}

.person-name {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
}

.soldier-health-overview > p {
  margin: 2px 0px;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 16px;
}

.soldier-health-overview > p:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.person-heartrate {
  color: white;
}

.icon {
  height: 24px;
  width: 24px;
}

.person-status.critical {
  color: #e94040;
}

.person-status.moderate {
  color: #ffa740;
}

.person-status.good {
  color: #6aff35;
}
